@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

* {
font-family: 'Source Sans Pro', sans-serif;
letter-spacing: 2px;

}

body {
margin-top: 250px;
background-color: #e3d888;

}

.welcome-page-container {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
text-align: center;
min-height: 100vh;
}

.login {
margin-bottom: 500px;
width: 300px;
padding: 2rem;
border: none;
color: white;
background-color: rgba(76,175,80,255);
border-radius: 14px;
box-shadow: inset 0 0 0 0 #f9e506;
transition: ease-out 0.3s;
font-size: 2rem;
outline: none;
}

.login:hover {
box-shadow: inset 400px 0 0 0 #f9e506;
cursor: pointer;
color: #000;
}

.title {
font-size: 50px;
color: rgb(0, 0, 0);
font-family: 'Source Sans Pro', sans-serif;
text-align: center;
}

a {
text-decoration: none;
text-align: center;
}


